/** Global *******************************************/
*{
	all: unset;
	font-family: feather;
	font-family: Iosevka;
}

/* * Background ************************************** */
/* .bg { */
/* 	background-image: url("images/bg.png"); */
/* 	background-color: #474D59; */
/* 	opacity: 1; */
/* } */

/** Generic window ***********************************/
.genwin {
	background-color: #1E222A;
	border-radius: 16px;
}

/** Power buttons ***************************************/
.btn_lock, .btn_logout, .btn_sleep, .btn_reboot, .btn_poweroff {
	font-size : 48px;
	font-weight : bold;
}

.btn_lock {
	color: #61BFA0;
}
.btn_logout {
	color: #88C0D0;
}
.btn_sleep {
	color: #A3BE8C;
}
.btn_reboot {
	color: #EBCB8B;
}
.btn_poweroff {
	color: #BF616A;
}

.btn_lock:hover {
  background-color: #11131C;
}
.btn_logout:hover {
  background-color: #11131C;
}
.btn_sleep:hover {
  background-color: #11131C;
}
.btn_reboot:hover {
  background-color: #11131C;
}
.btn_poweroff:hover {
  background-color: #11131C;
}
