[Desktop Entry]
Encoding=UTF-8
Name=Telegram Desktop
Version=4.2.4
Comment=Telegram Desktop
GenericName=Chat app
Exec=/home/agung/Downloads/Telegram/Telegram
Icon=/home/agung/.local/share/icons/telegram.png
Type=Application
Terminal=false
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;
