* {
  /* `otf-font-awesome` is required to be installed for icons */
  /* font-family: 'Roboto Mono Medium', 'Ubuntu Nerd Font'; */
  font-family: 'SF Pro Display',
  'JetBrains Mono Nerd Font';
  /* font-family: 'SF Pro Display'; */
  font-size: 19px;
  border: none;
  padding: 0;
  margin: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0.88);
  /* background-color: rgba(26, 27, 38, 0); */
  /* background-color: #1e1e1e; */
  /* background-color: #1e1e1e; */
  /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
  color: #e9e9e9;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces {
  /* background-color: rgba(0, 0, 0, 0.15); */
  background-color: transparent;
  border-radius: 10px;
}

#workspaces button {
  padding: 0 10px;
  /* padding-right: 10px; */
  background-color: transparent;
  /* background-color: #BD4545; */
  color: #676767;
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each workspace name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  /* cursor: pointer; */
  /* border-radius: 10px; */
  /* background: rgba(0, 0, 0, 0.2); */
  /* background: rgba(255, 255, 255, 0.06); */

  /* box-shadow: inset 0 -3px #e9e9e9; */
  /* color: #bf616a; */
  color: #BFBFBF;
}

#workspaces button.focused {
  /* background-color: #64727d; */
  color: #F0F4FF;
  /* box-shadow: inset 0 -3px #e9e9e9; */
}

#workspaces button.active {
  /* color: #ff9e64; */
  /* color: #e9e9e9; */
  color: #ffffff;
  /* background-color: rgba(255, 255, 255, 0.15); */
  background-color: transparent;
  /* border-radius: 10px; */
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

/* #mode { */
/*   background-color: #64727d; */
/*   border-bottom: 3px solid #e9e9e9; */
/* } */

#window {
  /* border-radius: 20px; */
  /* padding-left: 10px; */
  /* padding-right: 10px; */
  color: #64727d;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
  padding: 0 10px;
  color: #e9e9e9;
}

#window,
#workspaces {
  margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  margin: 0 3px 0 -12px;
  /* color: #c0caf5; */
  color: #E9E9E9;
  padding: 4px;
  /* color: #bf616a; */
}

#clock:hover {
  /* cursor: pointer; */
  background: rgba(0, 0, 0, 0.2);
  /* border: None; */
  box-shadow: None;
  /* box-shadow: inset 0 -3px #e9e9e9; */
  /* color: #bf616a; */
}

#battery {
  /* color: #a3be8c; */
  color: #e9e9e9;
  padding: 0 3px 0 3px;
  /* margin: 0 -3px 0 0; */
  /* background-color: #90b1b1; */
  background-color: transparent;
}

#battery.charging,
#battery.plugged {
  /* color: #26a65b; */
  /* margin: 0 -3px 0 0; */
  color: #e9e9e9;
  /* background-color: #26a65b; */
}

@keyframes blink {
  to {
    /* background-color: rgba(30, 34, 42, 0.5); */
    /* color: #abb2bf; */
    background-color: transparent;
    color: transparent;
  }
}

#battery.critical:not(.charging) {
  /* background-color: #f53c3c; */
  /* color: #abb2bf; */
  color: #F8545C;
  background-color: transparent;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: #2ecc71;
  color: #000000;
}

#memory {
  background-color: #9b59b6;
}

#disk {
  background-color: #964b00;
}

#backlight {
  /* background-color: #90b1b1; */
  color: #d7ba7d;
}

#network {
  margin: 0 0px 0 0;
  /* padding: 6px; */
  padding: 0 6px 0 6px;
  /* margin-right: 0px; */
  /* color: #1abc9c; */
  color: #e9e9e9;
}

#network:hover {
  /* cursor: pointer; */
  /* background: rgba(0, 0, 0, 0.2); */
  /* border: None; */
  padding: 6px;
  box-shadow: None;
  /* box-shadow: inset 0 -3px #e9e9e9; */
  /* color: #bf616a; */
}

#custom-launcher {
  color: #e9e9e9;
  /* border: None; */
  margin: 0 -2px 0 6px ;
  /* padding-right: 0px; */
  /* padding: 0 10px; */
}

#custom-launcher:hover {
  /* padding-right: 1px; */
  /* cursor: pointer; */
  background: rgba(0, 0, 0, 0.2);
  /* border: None; */
  box-shadow: None;
  /* box-shadow: inset 0 -3px #e9e9e9; */
  /* color: #bf616a; */
}

#network.disconnected {
  /* background-color: #F8545C; */
  color: #e9e9e9;
}

#pulseaudio {
  padding: 4px;
  margin: 0 10px 0 0;
  /* background-color: #B48EAD; */
  /* color: #bb9af7; */
  color: #e9e9e9;
}

#pulseaudio:hover {
  /* cursor: pointer; */
  background: rgba(0, 0, 0, 0.2);
  /* border: None; */
  box-shadow: None;
  /* box-shadow: inset 0 -3px #e9e9e9; */
  /* color: #bf616a; */
}

#pulseaudio.muted {
  /* background-color: #90b1b1; */
  /* color: #2a5c45; */
  /* color: #f53c3c; */
  color: #F8545C;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature {
  background-color: #f0932b;
}

#temperature.critical {
  background-color: #eb4d4b;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f53c3c;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}

#language {
  background: #00b093;
  color: #740864;
  padding: 0 4px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state {
  background: #97e1ad;
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  min-width: 16px;
}

#keyboard-state > label {
  padding: 0 5px;
}

#custom-spotify {
  padding: 0 10px;
  margin: 0 4px;
  /* background-color: #1db954; */
  color: #abb2bf;
}

#keyboard-state > label.locked {
  background: rgba(0, 0, 0, 0.2);
}

tooltip {
    /* color: rgba(233, 233, 233, 1); */
    color: transparent;
    /* background-color: #171a1f; */
    background-color: transparent;
    /* border: solid #e9e9e9 2px; */
    border: none;
    /* border-radius: 12px; */
    border-radius: 0;
    padding: 14px;
    margin-right: 540px;
}
