[Desktop Entry]
Type=Application
Name=lf
Comment=Launches the ranger file manager
Icon=/home/agung/.local/share/icons/lf.png
Terminal=true
Exec=lfub
Categories=ConsoleOnly;System;FileTools;FileManager
MimeType=inode/directory;
Keywords=File;Manager;Browser;Explorer;Launcher;Vi;Vim;Python
