[Desktop Entry]
Type=Application
Name=st
Comment=simple-terminal emulator for X
Icon=/home/agung/.local/share/icons/wterminal.png
Terminal=false
Exec=st
Categories=System;TerminalEmulator
Keywords=terminal;st;console
